<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<button id="btn">点击下载</button>
<script>
    let btn = document.querySelector("#btn");
    btn.addEventListener("click", ()=>{
        let a = document.createElement("a");
        a.download = "pictrue.jpg";
        a.href = "https://image.anosu.top/pixiv/direct?r18=1&keyword=genshinimpact";
        a.innerText = "下载";
        document.body.appendChild(a);
    })
</script>
</body>
</html>